.mat-expansion-panel {
  margin: 10px 0;

  &.critical {
    border-color: #fc5546;
    background-color: #ffe6e6;
  }
}

.event-details {
  margin-top: 10px;

  table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 10px;

    td {
      padding: 8px;
      border: 1px solid #ddd;
    }

    tr:nth-child(even) {
      background-color: #f9f9f9;
    }

    strong {
      color: #21325d;
    }
  }

  .event-details-json {
    pre {
      margin: 5px 0;
      white-space: pre-wrap; // Ensure JSON text wraps
      word-wrap: break-word; // Handle long words
      background-color: #f0f0f0;
      padding: 10px;
      border-radius: 5px;
    }
  }
}

.no-events {
  text-align: center;
  color: #888;
}
