$primary-color: #21325d;
$secondary-color: #f5f5f5;
$card-color: #f5f5f5;
$text-color: #0e2b5c;
$header-color: #627792;
$highlight-color: #fc5546;
$background-color: #ffffff;
$shadow-color: rgba(0, 0, 0, 0.1);

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

.slide-in-left {
  opacity: 0;
  transform: translateX(-100%);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;

  &.visible {
    animation: slideInLeft 0.5s forwards;
  }
}

.slide-in-right {
  opacity: 0;
  transform: translateX(100%);
  transition: transform 0.5s ease-out, opacity 0.5s ease-out;

  &.visible {
    animation: slideInRight 0.5s forwards;
  }
}

.home-container {
  background-color: $background-color;
  color: $text-color;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;

  .hero {
    position: relative;
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: $background-color;

    .hero-overlay {
      position: absolute;
      width: 100%;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      z-index: 1;
    }

    .iot-design {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
      overflow: hidden;

      .node {
        width: 20px;
        height: 20px;
        background-color: $primary-color;
        border-radius: 50%;
        position: absolute;
        animation: pulse 2s infinite;
      }

      .line {
        width: 2px;
        height: 200px;
        background-color: $primary-color;
        position: absolute;
        transform: rotate(45deg);
        animation: lineMove 3s infinite alternate;
      }
    }

    .hero-text {
      position: relative;
      z-index: 2;
      color: $card-color;
      text-align: center;

      h1 {
        font-size: 55px;
        font-weight: 700;
        color: #0e2b5c;
        margin: 0;
        animation: fadeIn 1.2s ease-in-out forwards;
      }

      p {
        margin: 20px 0;
        font-size: 1.8em;
        color: #0e2b5c;
      }

      button {
        margin-top: 15px;
        color: #0e2b5c;
        transition: transform 0.3s ease, box-shadow 0.3s ease;

        &:hover {
          transform: scale(1.05);
          box-shadow: 0 8px 15px rgba(0, 0, 0, 0.2);
        }
      }
    }
  }

  @keyframes pulse {
    0%,
    100% {
      transform: scale(1);
      opacity: 1;
    }
    50% {
      transform: scale(1.2);
      opacity: 0.7;
    }
  }

  @keyframes lineMove {
    0% {
      transform: translateX(-10px);
    }
    100% {
      transform: translateX(10px);
    }
  }

  .information {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
    width: 68%;
    // justify-content: space-between;

    .info-content {
      flex: 1;
      padding: 20px;
      max-width: 500px;
      text-align: left;
    }

    .info-image {
      max-width: 500px;
      height: auto;
      border-radius: 15px;
    }
  }

  .features {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 40px 0;

    .features-header {
      margin-bottom: 20px;
      text-align: center;
    }

    .features-heading {
      font-size: 2em;
      color: $primary-color;
      font-weight: bold;
    }

    .features-cards {
      display: flex;
      justify-content: center;
      flex-wrap: wrap;
      gap: 80px;

      .feature-card {
        background-color: $card-color;
        color: $text-color;
        width: 250px;
        padding: 20px;
        border-radius: 12px;
        text-align: center;
        box-shadow: 0 4px 8px $shadow-color;
        transition: transform 0.3s, box-shadow 0.3s, background-color 0.3s;
        border: 1px solid #e0e0e0;

        &:hover {
          transform: translateY(-5px);
          box-shadow: 0 8px 16px $shadow-color;
          background-color: lighten($card-color, 5%);
        }

        mat-icon {
          font-size: 24px;
          color: $highlight-color;
          margin-bottom: 15px;
        }

        mat-card-title {
          font-size: 1.2em;
          margin: 10px 0;
          font-weight: bold;
        }

        mat-card-content {
          font-size: 1em;
          color: darken($text-color, 15%);
        }
      }
    }
  }

  .industrial-solutions {
    background-color: #f5f5f5;
    padding: 40px 20px;
    border-radius: 15px;
    box-shadow: 0 4px 8px $shadow-color;
    margin: 40px 0;
    text-align: center;

    .industrial-solutions-content {
      max-width: 800px;
      margin: 0 auto;

      h2 {
        font-size: 2.4em;
        color: $primary-color;
        margin-bottom: 20px;
      }

      p {
        font-size: 1.1em;
        line-height: 1.6;
        color: $text-color;
        margin-bottom: 15px;
      }
    }
  }
}

@media (max-width: 768px) {
  .home-container {
    padding: 30px 10px;

    .hero-text {
      font-size: 1em;
      padding: 10px;
      left: 10px;
    }

    .information,
    .details {
      flex-direction: column;
      align-items: center;
      // justify-content:space-between;

      .info-image {
        max-width: 100%;
      }
    }

    .features {
      flex-direction: column;
      align-items: center;

      .feature-card {
        width: 100%;
        max-width: 300px;
      }
    }

    .industrial-solutions-content {
      h2 {
        font-size: 1.8em;
      }

      p {
        font-size: 1em;
      }
    }
  }
}
