<div class="home-container">
  <section class="hero">
    <div class="hero-text">
      <h2>
        Protecting Lives with Advanced <br />
        Fire Detection
      </h2>
      <p>Discover how our technology keeps you safe.</p>
      <button mat-raised-button color="primary">Learn More</button>
    </div>
    <img
      src="/Kamsware-Fire-Prevention-Systems.jpg"
      alt="Hero Image"
      class="hero-image"
    />
  </section>
  
  <section class="industrial-solutions">
    <div class="industrial-solutions-content slide-in-left">
      <h3>KamsGuard Fire Prevention System</h3>

      <p>Don’t give fire a chance—act before it’s too late.</p>
      <p>
        Experience unparalleled protection with the KamsGuard Fire Prevention
        System, your ultimate shield against the unexpected. Our cutting-edge
        technology ensures that you’re always a step ahead, detecting fires in
        their earliest stages to prevent disaster before it strikes.
      </p>

      <h4>Why Choose KamsGuard?</h4>
      <p>
        With our “State-of-the-Art” Fire Prevention System, you’re not just
        installing a fire detector—you’re investing in peace of mind. Our system
        offers:
      </p>
      <p>
        <span>Instant Detection:</span> Be alerted the moment a fire hazard is
        detected, allowing you to take immediate action.
      </p>
      <p>
        <span>Comprehensive Coverage:</span>Protect every corner of your
        property with advanced sensors and real-time monitoring.
      </p>
      <p>
        <span>Reliability You Can Trust:</span> Built to the highest standards,
        KamsGuard is your dependable partner in fire safety.
      </p>
      <p>Stay safe. Stay protected. Stay ahead with KamsGuard.</p>
    </div>
  </section>

  <section class="features">
    <mat-card class="feature-card">
      <mat-icon>notifications</mat-icon>
      <mat-card-title>Real-time Alerts</mat-card-title>
      <mat-card-content>
        Get immediate notifications for any fire-related incidents.
      </mat-card-content>
    </mat-card>

    <mat-card class="feature-card">
      <mat-icon class="icon">sensors</mat-icon>
      <mat-card-title>Detector Status</mat-card-title>
      <mat-card-content>
        Monitor the status of all connected fire detectors.
      </mat-card-content>
    </mat-card>

    <mat-card class="feature-card">
      <mat-icon>alarm</mat-icon>
      <mat-card-title>Recent Activity</mat-card-title>
      <mat-card-content>
        Review the recent activity of your fire detection system.
      </mat-card-content>
    </mat-card>
  </section>

  <section class="information">
    <img
      src="/Kamsware-Fire-Prevention-Systems.jpg"
      alt="Information Image"
      class="info-image slide-in-left"
    />
    <div class="info-content slide-in-right">
      <h2>KamsGuard Fire Prevention System</h2>
      <p>Don’t give the fire a chance. Get Immediate Fire Detection System.</p>
      <p>
        With our “State-of-the-Art” Fire Prevention System you will be always on
        the safe side.
      </p>
    </div>
  </section>

  <section class="information">
    <div class="info-content slide-in-left">
      <h2>About KamsGuard</h2>
      <p>
        Learn more about our mission, values, and how we provide cutting-edge
        fire detection solutions.
      </p>
    </div>
    <img
      src="/Kamsware-Fireprotection-System.jpg"
      alt="Information Image"
      class="info-image slide-in-right"
    />
  </section>


  <!-- <div class="app-footer">
    <app-footer></app-footer>
  </div> -->
</div>
