@mixin menu-item {
  color: #21325d;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 8px 14px;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
  .menu-icon {
    font-size: 20px;
    margin-right: 8px;
  }
}

.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 64px;
  background-color: #ffffff;
  border-bottom: 1px solid #e0e0e0;
  padding: 0 16px;
  position: fixed;
  width: 100%;
  z-index: 10;
  .brand {
    display: flex;
    align-items: center;
    .brand-logo {
      color: #0e2b5c;
      font-weight: 700;
      font-size: 0.8em;
      margin-left: 8px;
      margin-right: 16px;
      cursor: pointer;
    }
    button {
      @include menu-item;
      background-color: transparent;
      border: none;
      margin-right: 16px;
      &:hover {
        background-color: #f0f0f0;
        color: #0e2b5c;
        cursor: pointer;
      }
    }
  }
  .nav-links-container {
    display: flex;
    align-items: center;
    gap: 15px;
    color: #0e2b5c;
    @media (max-width: 768px) {
      display: none;
      &.show-menu {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 10px;
        width: 100%;
        background-color: #ffffff;
        padding: 10px 0;
      }
    }
  }
  .nav-link {
    @include menu-item;
    color: #0e2b5c;
    font-size: 14px;
    &:hover {
      background-color: #f1f1f1;
      color: #fc5546;
    }
    &.active {
      color: #fc5546;
      font-weight: bold;
    }
  }
  .icon-container {
    display: flex;
    align-items: center;
    gap: 15px;
    button {
      mat-icon {
        font-size: 18px;
        color: #0e2b5c;
      }
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
  .auth-links-container {
    display: flex;
    align-items: center;
    gap: 15px;
    button {
      background-color: transparent;
      border: none;
      cursor: pointer;
      &:hover {
        background-color: #f0f0f0;
      }
    }
  }
}

@media (max-width: 768px) {
  .brand-logo {
    display: none;
  }

  .custom-toolbar {
    flex-direction: row;
    padding: 8px;
    justify-content: space-between;

    .icon-container {
      display: none;
    }

    .auth-links-container {
      width: 100%;
      justify-content: flex-end;
    }
  }
}
