@mixin menu-item {
  color: #0E2b5c;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 8px;
  border-radius: 8px;
  transition: all 0.3s;

  .menu-icon {
    font-size: 20px;
    margin-right: 8px;
  }

  .menu-text {
    font-weight: bold;
    font-size: 14px;
  }
}

.brand-logo {
  cursor: pointer;
  color: #0E2B5C;
  font-weight: bold;
  font-size: 0.8em;
  margin-left: 10px;
}

.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background-color: #FFFFFF;
  border-bottom: 2px solid #627792;
  padding: 0 16px;
  transition: top 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 10;

  &.hidden {
    top: -56px; /* Hide the toolbar */
  }

  .example-spacer {
    flex: 1 1 auto;
  }

  button {
    @include menu-item;
    background-color: #FFFFFF;
    border: 1px solid #627792;
    margin-right: 10px;

    &:hover {
      background-color: #627792;
      color: #FFFFFF;
      cursor: pointer;
    }

    &.active {
      color: #FFFFFF;
      background-color: #FC5546;
      border: 1px solid #21325D;
    }

    &.active:hover {
      color: #FFFFFF;
      background-color: #FC5546;
      border: 1px solid #21325D;
      box-shadow: 4px 4px 6px #b9b9b9, -4px -4px 6px #ffffff;
    }
  }
}

.nav-links-container {
  display: flex;
  align-items: center;
  padding-right: 80px;
  
  .nav-link {
    cursor: pointer;
    color: #0E2B5C;
    font-size: 16px;
    margin-left: 10px;
  }

}




.content {
  padding: 16px;
}

