<mat-toolbar [ngClass]="{'hidden': !isHeaderVisible}" class="custom-toolbar">
  <button
    mat-icon-button
    class="neumorphic-button"
    aria-label="Toggle Sidebar"
    (click)="toggleSidebar()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  &nbsp;
  <span class="brand-logo" routerLink='/home'>KamsGuard Solutions</span>
  <span class="example-spacer"></span>
  
  <!-- New navigation links -->
  <a class="nav-link" routerLink="/">Home</a>
  <a class="nav-link" routerLink="/contact-us">Support</a>
  <a class="nav-link" routerLink="/auth">My Account</a>
</mat-toolbar>
