<mat-toolbar [ngClass]="{'hidden': !isHeaderVisible}" class="custom-toolbar">
  <div class="brand">
    <span class="brand-logo" routerLink="/">Kamsguard Solutions</span>
  </div>
  <!-- Toggle button for mobile view -->
  <button 
    mat-icon-button 
    aria-label="Toggle menu" 
    class="toggle-menu" 
    (click)="toggleMenu()">
    <mat-icon>{{ isMenuOpen ? 'close' : 'menu' }}</mat-icon>
  </button>
  <!-- Navigation Links for Desktop & Mobile -->
  <div class="nav-container" [ngClass]="{'show-menu': isMenuOpen}">
    <div class="nav-links-container">
      <a class="nav-link" routerLink="/industrial-solutions" routerLinkActive="active" (click)="closeMenu()">Industrial Solutions</a>
      <a class="nav-link" routerLink="/products" routerLinkActive="active" (click)="closeMenu()">Products</a>
      <a class="nav-link" routerLink="/contact-us" routerLinkActive="active" (click)="closeMenu()">About Us</a>
    </div>
    <div class="auth-links-container">
      <a class="auth-link" routerLink="/login" routerLinkActive="active" (click)="closeMenu()">Login</a>
      <a class="auth-link" routerLink="/register" routerLinkActive="active" (click)="closeMenu()">Register</a>
    </div>
  </div>
</mat-toolbar>
