/* Define a mixin for common styles */
@mixin menu-item {
  color: #21325D; 
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px;
  border-radius: 10px;
  transition: all 0.3s;

  .menu-icon {
    font-size: 24px;
    margin-right: 10px;
  }

  // .menu-text {
  //   // Optional: font-weight, font-size adjustments
  // }
}

.custom-toolbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 56px;
  background-color: #FFFFFF;
  border-bottom: 1px solid #E0E0E0; 
  padding: 0 16px;
  transition: top 0.3s ease-in-out;
  position: fixed;
  width: 100%;
  z-index: 10;

  &.hidden {
    top: -56px; 
  }

  .brand-logo {
    color: #0E2B5C;
    font-weight: 700; 
    font-size: 0.9em; 
    margin-left: 10px;
    cursor: pointer;
  }

  button {
    @include menu-item;
    background-color: transparent; 
    border: none; 

    &:hover {
      background-color: #F0F0F0; 
      color: #0E2B5C;
      cursor: pointer;
    }
  }

  .nav-links-container {
    display: flex;
    align-items: center;
    gap: 20px; 

    .nav-link {
      @include menu-item;
      cursor: pointer;
      color: #0E2B5C;
      font-size: 16px;

      &:hover {
        background-color: rgb(241, 241, 241); 
        color: #FC5546; 
      }

      &.active {
        color: #0E2B5C;
        color: #FC5546; 
      }
    }
  }

  .auth-links-container {
    display: flex;
    align-items: center;
    gap: 20px;

    .auth-link {
      @include menu-item;
      color: #0E2B5C;
      font-size: 16px;

      &:hover {
        background-color: rgb(241, 241, 241); 
        color: #FC5546; 
      }

      &.active {
        color: #0E2B5C;
        color: #FC5546; 
      }
    }
  }
}

@media (max-width: 768px) {
  .custom-toolbar {
    padding: 0 8px; 
  }

  .nav-links-container, .auth-links-container {
    flex-direction: column;
    gap: 10px; 
  }
}
