<mat-toolbar [ngClass]="{'hidden': !isHeaderVisible}" class="custom-toolbar">
  <button
    mat-icon-button
    aria-label="Toggle Sidebar"
    (click)="toggleSidebar()"
  >
    <mat-icon>menu</mat-icon>
  </button>
  <span class="brand-logo" routerLink="/">Kamsguard Slns</span>
  <span class="example-spacer"></span>

  <div class="nav-links-container">
    <a class="nav-link" routerLink="/industrial-solutions" routerLinkActive="active">Industrial Solutions</a>
    <a class="nav-link" routerLink="/products" routerLinkActive="active">Products</a>
    <a class="nav-link" routerLink="/contact-us" routerLinkActive="active">About Us</a>
  </div>
  <div class="auth-links-container">
    <a class="auth-link" routerLink="/auth" routerLinkActive="active">Login</a>
    <a class="auth-link" routerLink="/register" routerLinkActive="active">Register</a>
  </div>
</mat-toolbar>
