<div
  class="sidebar"
  [ngClass]="{ showSidebar: isSidebarVisible, hideSidebar: !isSidebarVisible }"
  [@fadeInOut]
>
  <ul>
       <li>
      <a
        routerLinkActive="active"
        (click)="toggleDeviceManagementSubmenu()"
      >
        <span class="menu-icon material-icons">devices</span>
        <span class="menu-text">Device Management</span>
        <span
          class="sub-menu-icon"
          [ngClass]="{ 'sub-menu-open': isDeviceManagementSubmenuOpen }"
        >
          <mat-icon>{{
            isDeviceManagementSubmenuOpen
              ? 'keyboard_arrow_down'
              : 'keyboard_arrow_right'
          }}</mat-icon>
        </span>
      </a>
      <!-- Sub-menu for Device management with left padding -->
      <ul *ngIf="isDeviceManagementSubmenuOpen" class="sub-menu">
        <li>
          <a
            routerLink="/connected-devices"
            routerLinkActive="active"
            (click)="handleLinkClick()"
            ><span class="menu-icon material-icons">cast_connected</span
            ><span class="menu-text">Connected Devices</span></a
          >
        </li>
        <li>
          <a
            routerLink="/real-time"
            routerLinkActive="active"
            (click)="handleLinkClick()"
            ><span class="menu-icon material-icons">settings</span
            ><span class="menu-text">System Status</span></a
          >
        </li>
      </ul>
    </li>
    <li>
      <a (click)="toggleDashboardSubmenu()">
        <span class="menu-icon material-icons">dashboard</span>
        <span class="menu-text">Dashboard</span>
        <span
          class="sub-menu-icon"
          [ngClass]="{ 'sub-menu-open': isDashboardSubmenuOpen }"
        >
          <mat-icon>{{
            isDashboardSubmenuOpen
              ? 'keyboard_arrow_down'
              : 'keyboard_arrow_right'
          }}</mat-icon>
        </span>
      </a>
      <!-- Sub-menu for Dashboard with left padding -->
      <ul *ngIf="isDashboardSubmenuOpen" class="sub-menu">
        <li>
          <a
            routerLink="/events"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="handleLinkClick()"
            ><span class="menu-icon material-icons">notifications</span
            ><span class="menu-text">Events</span></a
          >
        </li>
        <li>
          <a
            routerLink="/device-management"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="handleLinkClick()"
            ><span class="menu-icon material-icons">sensors</span
            ><span class="menu-text">Detector Status</span></a
          >
        </li>
        <li>
          <a
            routerLink="/real-time"
            routerLinkActive="active"
            [routerLinkActiveOptions]="{ exact: true }"
            (click)="handleLinkClick()"
            ><span class="menu-icon material-icons">alarm</span
            ><span class="menu-text">Recent Activity</span></a
          >
        </li>
      </ul>
    </li>
 

    <li>
      <a
        routerLink="/live-stream"
        routerLinkActive="active"
        (click)="handleLinkClick()"
      >
        <span class="menu-icon material-icons">live_tv</span>
        <span class="menu-text">Live Viewer</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/system-config"
        routerLinkActive="active"
        (click)="handleLinkClick()"
      >
        <span class="menu-icon material-icons">dns</span>
        <span class="menu-text">System Configuration</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/clients"
        routerLinkActive="active"
        (click)="handleLinkClick()"
      >
        <span class="menu-icon material-icons">manage_accounts</span>
        <span class="menu-text">Clients</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/support"
        routerLinkActive="active"
        (click)="handleLinkClick()"
      >
        <span class="menu-icon material-icons">support</span>
        <span class="menu-text">Support and Documentation</span>
      </a>
    </li>
    <li>
      <a
        routerLink="/contact-us"
        routerLinkActive="active"
        (click)="handleLinkClick()"
      >
        <span class="menu-icon material-icons">contact_emergency</span>
        <span class="menu-text">Emergency Contacts</span>
      </a>
    </li>
  </ul>
</div>
