$sidebar-bg-color: #FFFFFF; 
$sidebar-text-color: #21325D; 
$sidebar-hover-bg-color: rgba(241, 241, 241, 0.8); 
$sidebar-active-color: #FC5546; 
$sidebar-shadow-color: rgba(0, 0, 0, 0.1); 

@mixin menu-item {
  color: $sidebar-text-color;
  text-decoration: none;
  display: flex;
  align-items: center;
  padding: 10px 15px; 
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s, width 0.3s;

  .menu-icon {
    font-size: 22px;
    margin-right: 10px;
  }

  .menu-text {
    font-size: 14px;
    transition: opacity 0.3s, width 0.3s;
    white-space: nowrap; /* Prevent text from breaking */
    overflow: hidden;
  }
}

.sidebar {
  background-color: $sidebar-bg-color;
  position: fixed;
  height: calc(100vh - 80px); 
  top: 50px; 
  width: 250px;
  left: 0;
  z-index: 999;
  padding: 20px 0;
  box-shadow: 2px 0 5px $sidebar-shadow-color; 
  overflow-y: auto;
  transition: transform 0.3s, opacity 0.3s, width 0.3s;

  &.showSidebar {
    transform: translateX(0);
    opacity: 1;
    width: 250px;
  }

  &.hideSidebar {
    transform: translateX(0);
    opacity: 1;
    width: 70px; /* Adjusted width for the hidden state */
  }

  ul {
    list-style: none;
    padding: 0;
    margin: 0;
  }

  li {
    margin-bottom: 15px;
  }

  li a {
    @include menu-item;

    &:hover {
      background-color: $sidebar-hover-bg-color; 
      cursor: pointer;
    }

    &.active {
      color: $sidebar-active-color; 
      background-color: $sidebar-hover-bg-color; 
    }

    &.active:hover {
      background-color: $sidebar-hover-bg-color; 
    }
  }

  .hide-text {
    opacity: 0;
    width: 0;
    padding: 0;
    margin: 0;
  }

  @media (max-width: 768px) {
    width: 100%;
    height: calc(100vh - 64px);
    background-color: $sidebar-bg-color;
    opacity: 0.9;
    z-index: 1000;

    &.hideSidebar {
      width: 60px; /* Smaller width for mobile */
    }
  }
  

}
