$primary-color: #21325D;
$secondary-color: #627792;
$card-color: #FFFFFF;
$text-color: #21325D;
$header-color: #627792;
$highlight-color: #FC5546;
$background-color: #FFFFFF;
$shadow-color: rgba(0, 0, 0, 0.1);

.app-container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  background-color: $background-color;
}

.app-header {
  // background-color: $header-color;
  display: flex;
  align-items: center;
  padding: 0 px;
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000;
  box-shadow: 0 2px 5px $shadow-color;
}

.dashboard-container {
  display: flex;
  flex: 1;
  margin-top: 80px; 
}

app-sidenav {
  height: calc(100vh - 80px); 
  position: fixed;
  top: 80px; /* Below the fixed header */
  left: 0;
  z-index: 999;
  padding-top: 20px;
  box-shadow: 2px 0 5px $shadow-color;
}

.content {
  margin-left: 250px; /* Leave space for the sidebar */
  padding: 20px;
  background-color: $card-color;
  flex: 1;
  overflow-y: auto;
  min-height: calc(100vh - 80px); /* Full height minus the header */
  box-shadow: inset 0 0 10px $shadow-color;

  @media (max-width: 768px) {
    margin-left: 0; /* Adjust content margin for mobile view */
  }
}
