.events-container {
  padding: 16px;

  h2 {
    margin-bottom: 16px;
    color: #21325D;
  }

  table {
    width: 100%;
    margin-bottom: 16px;
    border-collapse: collapse;

    th {
      background-color: #F0F0F0;
      color: #21325D;
      font-weight: bold;
      border-bottom: 1px solid #627792;
    }

    td, th {
      padding: 8px;
      text-align: left;
      border-bottom: 1px solid #E0E0E0;
    }

    td {
      color: #627792;
    }

    tr:hover {
      background-color: #f9f9f9;
    }
  }
}
