
// Custom Theming for Angular Material
@use '@angular/material' as mat;
@include mat.core();

// Define the theme object.
$kamsguard-web-theme: mat.define-theme((
  color: (
    theme-type: light,
    primary: mat.$azure-palette,
    tertiary: mat.$blue-palette,
  ),
  density: (
    scale: 0,
  )
));

:root {
  @include mat.all-component-themes($kamsguard-web-theme);
}

html, body {
  height: 100%;
  box-sizing: border-box;
  margin: 0;
  background-color: #f2f1f1;
}

.h2 {
  margin-bottom: 14px;
  font-size: 20px;
  color: #21325D;
}
.card-header {
  color: #21325D;
  font-size: 12px !important;
}