

$primary-color: #21325D;
$secondary-color: #627792;
$card-color: #FFFFFF;
$text-color: #21325D;
$header-color: #627792;
$highlight-color: #FC5546;
$background-color: #FFFFFF;
$shadow-color: rgba(0, 0, 0, 0.1);




.container {
  display: flex;
  flex-direction: column; 
  min-height: 100vh; 
}


.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; 
  height: 80px; 
}

.main-content {
  display: flex;
  flex: 1; 
  margin-top: 40px; 
}

app-sidenav {
  width: 40px;
  position: relative;
  z-index: 2; 
  transition: all 0.3s ease-in-out;
}

.content {
  flex: 1; 
  overflow-y: auto;
  transition: margin-left 0.3s ease; 
  min-height: 100vh;
}


.content.with-sidebar {
  margin-left: 250px; 
  padding-left: 10px;

}

.content.without-sidebar {
  margin-left: 0; 
  width: 100%;
}


