$primary-color: #21325D;
$secondary-color: #627792;
$card-color: #FFFFFF;
$text-color: #21325D;
$header-color: #627792;
$highlight-color: #FC5546;
$background-color: #FFFFFF;
$shadow-color: rgba(0, 0, 0, 0.1);



/* General container setup */
.container {
  display: flex;
  flex-direction: column; /* Arrange children vertically */
  min-height: 100vh; /* Ensure container takes full viewport height */
}

/* Header setup */
.app-header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  z-index: 1000; /* Ensure the header is above other content */
  height: 80px; /* Adjust to match your header height */
}

/* Main content and sidebar setup */
.main-content {
  display: flex;
  flex: 1; /* Allow content to grow and push the footer down */
  margin-top: 80px; /* Adjust this value to match the height of your header */
}

/* Sidebar setup */
app-sidenav {
  width: 40px;
  position: relative;
  z-index: 2; /* Ensure it's on top of the content */
  transition: all 0.3s ease-in-out;
}

/* Content area */
.content {
  flex: 1; /* Make content fill the available space */
  padding: 20px;
  overflow-y: auto;
  transition: margin-left 0.3s ease; /* Smooth transition for sidebar toggle */
}

/* Adjust content when sidebar is hidden or shown */
.content.with-sidebar {
  margin-left: 250px; /* Adjust margin when sidebar is visible */
}

.content.without-sidebar {
  margin-left: 0; /* No sidebar, no left margin */
}


